.nav-pills
{
	border: 1px solid black;
	border-radius: 7px;
	margin-left: 3px;
}

 .nav-pills li
{
	border-bottom: 1px solid black;
	border-radius: 0px;

}

.nav-pills li:last-child{

	border-bottom: 0px;
}


@media screen and (max-width  : 700px){

	.form-group{
		color: red;
		float: none;
		width: auto;
		margin-top: 15px;
	}

header ul li {
	width: 50%;
	color : red;
	border: 1px solid black;
	float: left;
	margin-bottom: -1px;


}
.nav-pills{
	
	margin-left: 0px;


}

.col-md-3{
	padding: 0px;
}
}
